/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  color: #393d41;
  font-size: 1.2rem;
  font-family: sans-serif;
  line-height: 2, 5rem;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
.banner {
  background-image: url(banner.jpg);
  background-position: center;
  background-size: cover;
  padding: 3rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  background-color: black;
  padding: 1rem;
  text-align: center;
  margin: bottom 0;
}

h1 {
  color: rgb(81, 132, 233);
  font-size: 4rem;
  border-bottom: 2rem;
}
p {
  text-align: center;
  margin-top: 2rem;
}
.centrato {
  text-align: center;
}

.posizioni {
  margin-top: 20px;
  padding: 7px;
}

button {
  background-color: #f04c2f;
  border-radius: 5px;
  border-bottom: 10rem;
  text-align: center;
}
h3 {
  color: rgb(81, 132, 233);
  border-bottom: 2rem;
  padding: 2rem;
  font-weight: bolder;
  text-align: center;
}
.tonda {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

section {
  border-bottom: 4rem;
  border-top: 2rem;
  text-align: center;
  margin: 2 rem;
  padding: 1rem;
}
.garantisce {
  text-align: center;
  text-emphasis-color: white;
}

.boxrosso {
  background-color: red;
  text-align: center;

  padding: 1rem;
}
.garantisce {
  font-size: x-large;
  color: white;
}

.scrittabianca {
  color: white;
}
.marione {
  text-align: center;
  display: block;
  background-color: red;
  margin-top: 3rem;
}
.box1 {
  border: 1px solid gray;
  border-radius: 4px;
  margin: 15px;
}
.box1 img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  margin-bottom: 5px;
}
.box1 h4 {
  color: rgb(118, 170, 225);
  text-align: center;
  font-weight: bolder;
  font-size: medium;
}
.pbottom {
  margin-bottom: 3rem;
}
footer {
  background-color: #25a2c3;
  padding-bottom: 50px;
}

.footer span {
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  display: block;
  margin-top: 2rem;
}
.footer h2,
.footer span {
  color: white;
}

h2 {
  margin-top: 30px;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}
.linea {
  width: 150px;
  margin: 20px auto;
  border: 0;
  border-top: 2px solid white;
}
.copyright {
  color: white;
  text-align: center;
  font-size: large;
  margin-top: 5rem solid black;
  margin-top: 40px;
  margin-bottom: 10px;
}

body {
  -webkit-text-size-adjust: none;
}
